.hero {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 40rem;

  .overlay {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 40rem;
    background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(14, 8, 8, 1) 35%, rgba(241, 243, 244, 0) 100%);
  }
}
