.hero {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 40rem;

  .overlay {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 60rem;
    background: linear-gradient(0deg, #141414 0%, #141414 46%, rgba(241, 243, 244, 0) 100%);
  }
}
