.app {
  max-width: 1100px;
  margin: auto;
}

.search {
  width: 80%;
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.search input {
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  padding: 0 20px;
}

.search button {
  background: #f40612;
  height: 40px;
  width: 200px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.results-meta {
  margin: 20px 0;
}

.show-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3.5px;
  grid-row-gap: 0px;
}

.show-preview {
  background: none;
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.show-preview img {
  max-width: 100%;
}

.show-preview span {
  color: black;
  font-weight: bold;
  display: none;
}

.show {
  display: flex;
  margin: 50px 0;
}

.show-back {
  margin-top: 1rem;
  background: #f40612;
  height: 40px;
  border-radius: 5px;
  padding: 0rem 1rem 0 1rem;
  cursor: pointer;
}

.show-image {
  flex: 0 0 auto;
  width: 350px;
  margin-right: 50px;
}

.show-image img {
  max-width: 100%;
}

.show h2 {
  margin: 0 0 10px 0;
}

.show-meta {
  color: #777;
}

.cast {
  list-style: none;
  padding: 0;
}

.two__column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.cast-member {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cast-member-image {
  width: 96px;
  height: 96px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.cast-member-image img {
  max-width: 100%;
}

.header {
  width: 80%;
  margin-left: 36px;
}

.button {
  cursor: pointer;
  color: dodgerBlue;
}

@media screen and (min-width: 480px) {
  .header {
    margin-left: 0;
  }

  .search {
    width: 100%;
    margin: 0;
  }
}
