.search {
  width: 80%;
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.search input {
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  padding: 0 20px;
}

.search button {
  background: #f40612;
  height: 40px;
  width: 200px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.results-meta {
  margin: 20px 0;
}

.header {
  width: 80%;
  margin-left: 36px;
}

.button {
  height: auto;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: dodgerBlue;
}

@media screen and (min-width: 480px) {
  .header {
    margin-left: 0;
  }

  .search {
    width: 100%;
    margin: 0;
  }
}
