html {
  font-size: 100%;
}

body {
  font-size: calc(1rem + 0.25vw);
  background-color: #141414;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: calc(1.3rem + 3.6vw);
}

h2 {
  font-size: calc(1.1rem + 3.6vw);
}

input,
button {
  font-size: calc(0.95rem + 0.25vw);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
